body {
	background: #000;
	color: #fff;
	padding: 70px;
	font-size: 24px;
	letter-spacing: 0.1em;
	font-family: 'Shadows Into Light', cursive;
}

h4 {
	margin: 0;
	font-size: 200%;
}

#sonos-info ul {
	margin: 0;
	padding: 0;
}

#sonos-info li {
	list-style: none;
	margin: 0;
}


